.diagram-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.backtest-result-diagram-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.spread-diagram-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
